@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #E4E2E9;
}

*, input, button {
  font-family: 'Poppins', sans-serif;
}